<div class="section">
  <div class="container">
    <div class="box edit-form">
      <h1>Edit <strong><%= @box.color %> <% @box.name %></strong> Box</h1>
      <hr>
      <%= form_for @box do |f| %>
        <%= f.label :name, class: 'label' %>
        <%= f.text_field :name, class: 'input' %>
        <br><br>
        <%= f.label :size, class: 'label' %>
        <span class="select"><%= f.select :size, options_for_select([['Small', 'small'], ['Medium', 'medium'], ['Large', 'large']]) %></span>
        <br><br>
        <%= f.label :color, class: 'label' %>
        <%= f.color_field :color %>
        <br><br>
        <%= f.label :price, class: 'label' %>
        <%= f.text_field :price, step: 0.01, class: 'input', placeholder: '$' %>
        <br><br>
        <%= f.submit class: 'button is-info is-rounded' %>
      <% end %>
      <br>
      <%= link_to "Back", boxes_path, class: "button is-danger is-small is-rounded" %>

    </div>

  </div>
</div>