<nav class="navbar" role="navigation" aria-label="main navigation">
  <a class="navbar-item home-link">
    Purrfect Box
  </a>
</nav>

<div class="hero">
  <div class="container quote">
    <div class="card">
      <div class="card-content">
        <p class="title is-3">
          “If I fits, I sits."</p>
        <p class="subtitle">
          - cat
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container home-boxes">
    <div class="box">
      <h3 class="title is-4">Here are a few of our boxes.</h3>
        <div class="row">
          <div class="columns">
            <div class="column box subbox" id="subbox1">
              <%= image_tag("box-1.png", :alt => "box") %>
            </div>
            <div class="column box subbox" id="subbox2">
              <%= image_tag("box-1.png", :alt => "box") %>
            </div>
            <div class="column box subbox" id="subbox3">
              <%= image_tag("box-1.png", :alt => "box") %>
            </div>
          </div>
          <div class="columns">
            <div class="column box subbox" id="subbox1">
              <%= image_tag("box-1.png", :alt => "box") %>
            </div>
            <div class="column box subbox" id="subbox2">
              <%= image_tag("box-1.png", :alt => "box") %>
            </div>
            <div class="column box subbox" id="subbox3">
              <%= image_tag("box-1.png", :alt => "box") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>