<div class="product-page">
  <div class="section">
    <div class="container">

        <div class="row">
          <div class="columns">
            <div class="column box subbox" id="subbox1">
              <%= image_tag("box-1.png", :alt => "box") %>
            </div>
            <div class="column box-details">
              <h1><strong><%= @box.color %> <%= @box.name %></strong> Box</h1>
              <h2 class="box-price">$<%= @box.price %></h2>
              <hr>
              <p><%= @box.description %></p>
            </div>
          </div>
        </div>
      <br>
        <div class="box box-reviews">
          <% @box.reviews.each do |review| %>
            <strong>Name: </strong><%= review.name %>
            <br>
            <strong>Review: </strong><%= review.review %>
            <br>
            <strong>Rating: </strong><%= review.rating %>/5
            <hr>
          <% end %>
        </div>


    </div>
  </div>
</div>