<div class="section add-review">
  <div class="container">
    <h1>Add Review for <strong><%= @box.color %> <%= @box.name %></strong> Box</h1>
    <hr>
    <%= form_for @review, url: {action: "create"} do |f| %>
      <%= f.label :name, class: 'label' %>
      <%= f.text_field :name, class: 'input' %>
      <br><br>
      <%= f.label :review, class: 'label' %>
      <%= f.text_area :review, class: 'input' %>
      <br><br>
      <%= f.label :rating, class: 'label' %>
      <%= f.number_field :rating, class: 'input' %>
      <br><br>
      <%= f.submit class: 'button is-warning is-rounded' %>
    <% end %>
  </div>
</div>