<!DOCTYPE html>
<html>
  <head>
    <title>PurrfectBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon2.png' %>
  </head>

  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item" %>
      <%= link_to "Our Boxes", boxes_path, url: {action: 'boxes'}, class: "navbar-item" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
      <% if current_user %>
        <p>Welcome, <strong><%= current_user.username %></strong></p>&nbsp;|&nbsp;
        <p class="nav-links"><%= link_to "Sign out", '/users/sign_out', method: 'delete' %></p>
      <% else %>
        <p class="nav-links"><%= link_to "Sign in", '/users/sign_in' %></p>&nbsp;|&nbsp;
        <p class="nav-links"><%= link_to "Sign up", '/users/sign_up' %></p>
      <% end %>
      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
